body{
    background-color: #f7f7f7;
    max-width: 100%;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

h1{
    font-family: "Open Sans",'Work Sans', sans-serif;
    font-size: clamp(40px,3vw,4vw);
    display: flex;
    font-weight: 700;
    color: rgb(13, 13, 19);
}

.btn {
    position: relative;
    display: inline-block;
    width: max-content;
    padding: 15px 20px;
    border: solid;
    background: transparent;
    border-color: black;
    cursor: pointer;
    font-size: clamp(20px,1.3vw,1.3vw);
    font-weight: bold;
    letter-spacing: 1px;
    color: inherit;
    transition: all 0.3s ease 0s;
}
.btn:after {
    content: "";
    position: absolute;
    transition: all 0.3s ease 0s;
    z-index: -1;
}
.btn:hover,
.btn:focus {
  color: #f8f8f8;
  border-color: #1ABC9C;
  
}

/* Style 3 */
.btn-left:after {
  background: #1ABC9C;
  
  top:0; bottom: 0; left: 0; right: 100%;
  
}
.btn-left:hover,
.btn-left:focus {
  background-color: transparent;
}
.btn-left:hover:after,
.btn-left:focus:after{
  right:0;
}

.full-screen{
    width: 100vw;
    height: 100vh;
}

.vertical-center{
    display: flex;
    justify-content: center;
}

.f-column{
    display: flex;
    flex-direction: column;
}