.scroll-parent {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

.scroll-snap {
    scroll-snap-align: start;
    height: 100vh;
    overflow-y: scroll;
}


/* Add this class to the page where you want horizontal scrolling */
.horizontal-scroll-page {
    display: flex;
    overflow-x: scroll; /* Enable horizontal scrolling for the container */
    scroll-snap-type: x mandatory; /* Enable horizontal scroll snapping */
    width: 100%; /* Set the width of the horizontal-scrolling page */
    flex-shrink: 0; /* Prevent this page from shrinking */
}


.earth-screen{
    width: 100%;
    height: 100vh; /* Let the height adjust automatically based on the image's aspect ratio */
    background-image: url(earth.jpg);
    background-size: contain; /* Scale the background image to fit within the container while maintaining its aspect ratio */
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
}

.bird-screen{
    width: 100%;
    height: 100vh; /* Let the height adjust automatically based on the image's aspect ratio */
    background-image: url(birds.jpg);
    background-size: contain; /* Scale the background image to fit within the container while maintaining its aspect ratio */
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
}

.field-screen{
    width: 100%;
    height: 100vh; /* Let the height adjust automatically based on the image's aspect ratio */
    background-image: url(field.jpg);
    background-size: contain; /* Scale the background image to fit within the container while maintaining its aspect ratio */
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
}

.moth-screen{
    width: 100%;
    height: 100vh; /* Let the height adjust automatically based on the image's aspect ratio */
    background-image: url(moth.jpg);
    background-size: contain; /* Scale the background image to fit within the container while maintaining its aspect ratio */
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
}