html, body {
    margin: 0 px;
    height: 100%;
}


h1 {
    font-size: calc(1rem + 8vw);
    font-family: 'Work Sans', sans-serif;
    /* font-family: 'Philosophy'; */
    font-weight: 900;
    color: rgb(0, 0, 0);
}

.section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .section1 {
    height: 500vh;
    background-color: rgb(255, 255, 255)
  } */
